APP_HOST=0.0.0.0
APP_PORT=8005
SCORER_API_KEY=doi-thanh-key-ngau-nhien-cua-ban
EMBED_MODEL_ID=Qwen/Qwen3-Embedding-0.6B
WAV2VEC_MODEL_ID=facebook/wav2vec2-base-960h
PHONEME_MODEL_ID=facebook/wav2vec2-xlsr-53-espeak-cv-ft
APP_ENV=development
SECRET_KEY=scorer-dummy
OMP_NUM_THREADS=4
HF_HOME=/opt/hf_cache
NLTK_DATA=/opt/nltk_data
